.vs/Appli/v15/Server/sqlite3/db.lock
.vs/Appli/v15/.suo
.vs/config/applicationhost.config
.vs/Appli/v15/Server/sqlite3/storage.ide-wal
.vs/Appli/v15/Server/sqlite3/storage.ide-shm
.vs/Appli/v15/Server/sqlite3/storage.ide
.vs/Appli/DesignTimeBuild/.dtbcache
